* { 
    margin : 0% ; 
    padding : 0% ; 
}
html, body { 
    height : 100% ; 
    width : 100% ; 
    display : flex ; 
    align-items : center ; 
    justify-content : center ; 
    background-color : rgb(81, 81, 207) ; 
    flex-direction : column ; 
}
button { 
    height : 50px ; 
    width : 250px ; 
    font-size : 17px ; 
    border : none ; 
    border-radius : 40px ; 
    background-color : yellow ; 
}
button:hover { 
    background-color : rgb(164, 164, 49) ; 
}