* { 
    margin : 0% ; 
    padding : 0% ; 
}
html, body { 
    height : 100% ; 
    width : 100% ; 
    display : flex ; 
    align-items : center ; 
    justify-content : center ; 
    flex-direction : column ; 
    background-color : beige ; 
}
input { 
    height : 60px ; 
    width : 350px ; 
    text-align : center ; 
    color : green ; 
    font-size : 21px ; 
    border : none ; 
    border-radius : 40px  ; 
}
div { 
     display : flex ; 
    align-items : center ; 
    justify-content : center ; 
}
button { 
    height : 50px ; 
    width : 200px ; 
    border : none ; 
    border-radius : 40px ; 
    background-color : green ; 
    color : white ; 
    font-size : 21px ; 
}
button:hover { 
    background-color : rgb(5, 72, 5) ; 
}