* { 
    margin : 0% ; 
    padding : 0% ; 
}
html, body { 
    height : 100% ; 
    width : 100% ; 
    display : flex ; 
    align-items : center ; 
    justify-content : center ; 
    background-color : rgb(75, 75, 222) ; 
    color : white ; 
}
input { 
    height : 25px ; 
    width : 100px ; 

}
label { 
    height : 25px ; 
    width : 100px ; 
    font-size : 23px ; 
}
button { 
    height : 45px ; 
    width : 250px ; 
    border : none ; 
    border-radius : 40px ; 
    background-color : yellow ; 
    font-size : 16px ; 
}
button:hover { 
    background-color : rgb(152, 152, 55) ; 
}