* { margin : 0% ; 
    padding : 0% ; 
}
html, body { 
    height : 100% ; 
    width : 100% ; 
    display : flex ; 
    align-items : center ; 
    justify-content : center ; 
}
table { 
    height : 20px ; 
    width : 100px ; 
    font-size : 20px ; 
}
button { 
    height : 25px ; 
    width : 70px  ; 
    background-color : yellow ; 
   
}
button:hover { 
    background-color : rgb(159, 159, 35) ; 
}