<html> 
    <head> 
        <link rel = "stylesheet" href = "/adminAuth.css">
    </head>
    <body> 
        <form action = "/show" method = "POST"> 
            <button type = "submit">Show Registered Voters</button>
        </form>
        <br><br>
        <form action = "/showVoters" method = "POST"> 
            <button type = "submit">Show Voters</button>
        </form>
        <br><br>
        <form action = "/rejectedVoters" method = "POST">
            <button type = "submit">Show Rejected Voters</button>
        </form>
        <br><br>
        <form action = "/" method = "GET"> 
            <button id = "button3" type = "submit">Logout</button>
        </form>
        <script src = "/adminAuthScript.js"></script>
    </body>
</html> 