<html> 
    <head>
        <link rel ="stylesheet" href = "/admin.css">
    </head>
    <body>
        <form action = "/adminLogin" method = "POST">
            <input type = "text" placeholder = "Enter Username" name = "username" required> 
            <br><br> 
            <input type = "password" placeholder = "Enter Password" name = "password" required>
            <br><br> 
            <div>
            <button type = "submit">Login</button>
            </div>
        </form>
    </body>
</html>