<html> 
    <head>
        <link rel = "stylesheet" href = "/home.css">
    </head>
    <body> 
        <form action = "/showVoters" method = "GET">
            <button type = "submit">Show Voters</button>
        </form>
        <br><br> 
        <form action = "/registeredVoters" method = "GET">
            <button type = "submit">Registered Voters</button>
        </form>
        <br><br>
        <form action = "/rejectedVoters" method = "GET">
            <button type = "submit">Rejected Voters</button>
        </form>
        <br><br>
        <form action = "/voteCount" method = "GET">
            <button type = "submit">Vote Count</button>
        </form>
    </body>
</html>