<html>
    <head>
        <link rel = "stylesheet" href = "/home.css">
    </head>
    <body>
        <form action = "/adminLogin" method = "GET">
            <button type = "submit">Admin Login</button>
        </form>
        <br><br>
        <form action = "/voterRegister" method = "GET">
            <button type = "submit">Voter Register</button>
        </form>
        <br><br> 
        <form action = "/voterLogin" method = "GET">
            <button type = "submit">Voter Login</button>
        </form>
        <br><br>
        <form action = "getId" method = "GET">
            <button type = "submit">Get Your Voter Id</button>
        </form>
        <br><br> 
    </body>
</html>