<html> 
    <head> 
        <link rel = "stylesheet" href = "/home.css"> 
    </head>
    <body> 
        <form action = "/admin" method = "GET"> 
            <button type = "submit">Admin Login</button>
        </form>
        <br><br>
        <form action = "/voter" method = "GET"> 
            <button type = "submit">Voter Login</button>
        </form>
        <br><br>
        <form action = "/register" method = "GET">
            <button type = "submit">Register</button>
        </form>
        <br><br> 
        <form action = "/vote" method = "GET"> 
            <button type = "submit">Vote</button>
        </form>
    </body>
</html>
