<html> 
    <head>
        <link rel = "stylesheet" href = "/party.css"> 
    </head>
    <body> 
        <form action = "/confirm" method = "POST"> 
              <input type = "radio" name = "party" value = "BJP" required> <label>BJP</label>
           
            <br><br> 
             <input type = "radio" name = "party" value = "Congress" required>
            <label>Congress</label>
            <br><br> 
              <input type = "radio" name = "party" value = "UBT" required>
             <label>UBT</label>
            <br><br> 
             <input type = "radio" name = "party" value = "MNS" required>
             <label>MNS</label>
            <br><br> 
               <input type = "radio" name = "party" value = "Shinde" required>
             <label>Shinde</label>
            <br><br> 
            <div>
            <button type = "submit">Submit Vote</button>
            </div>
        </form>
      
    </body>
</html>