<html> 
    <head> 
        <link rel = "stylesheet" href = "/register.css">
    </head>
    <body> 
        <form action = "/registerVoter" method = "POST">
            <input type = "text" placeholder = "Enter Name" name = "name" required> 
            <br><br>
            <input type = "text" placeholder = "Enter Surname" name = "surname" required> 
            <br><br> 
            <input type = "Number" placeholder = "Enter Age" name = "age" required> 
            <br><br> 
            <input type = "password" placeholder = "Enter Password" name = "password" required> 
            <br><br> 
            <input type = "password" placeholder = "Enter Password Again" name = "password2" required> 
            <br><br>
            <div>
            <button type = "submit">Register</button>
            </div>
        </form>
    </body>
</html>