<html> 
    <head> 
        <link rel = "stylesheet" href = "/adminLogin.css">
    </head>
    <body>
        <form action = "/vote" method = "POST">
            <input type = "number" placeholder = "Voter Id" name = "voter_id" required> 
            <br><br> 
            <input type = "email" placeholder = "Email" name = "email" required>
            <br><br> 
            <input type = "password" placeholder = "Password" name = "password" required> 
            <br><br> 
            <div>
                <button type = "submit">Login</button>
            </div>
        </form>
    </body>
</html>