<html> 
    <head>
        <link rel ="stylesheet" href = "/admin.css">
    </head>
    <body>
        <form action = "/voterLogin" method = "POST">
            <input type = "text" placeholder = "Enter Name" name = "name" required> 
            <br><br> 
            <input type = "text" placeholder = "Enter Surname" name = "surname" required> 
            <br><br> 
            <input type = "password" placeholder = "Enter Password" name = "password" required> 
            <br><br> 
            <div>
            <button type = "submit">Login</button>
            </div>
        </form>
    </body>
</html>
